
<h2>ENTER YOUR NAME IF YOU WANT TO JOIN</h2>

<form  action="/owners" method="post">

<fieldset>
    <label for="owner_name">Enter Your Name:</label>
    <input
    type="text"
    name="name"
    id="owner_name"
    />
    <label for="owner_city">Enter your city:</label>
    <input
    type="text"
    name="city"
    id="owner_city"
    />
    <label for="owner_phone_number">Enter your phone number:</label>
    <input
    type="text"
    name="phone_number"
    id="owner_phone_number"
    />
    <input type="submit" value="Register Owner">
    </fieldset>
</form>

<h2>ANIMAL OWNERS</h2>
<div>
  <fieldset>


<% @owners.each do |owner| %>
  <p>Name: <%=owner.name%></p>
  <p>City: <%=owner.city%></p>
  <p>Phone: <%=owner.phone_number%></p>
  <% owner.animal.each do |animal| %>
  <p>Animal: <%=animal.name%></p>
    <%end%>

  <p><a href="/owners/<%=owner.id%>">Information</a></p>


  <%end%>
  </fieldset>
</div>
