
<h3>OWNER:</h3>

<p>Name: <%=@owner.name%></p>
<p>City: <%=@owner.city%></p>
<p>City: <%=@owner.phone_number%></p>

<% @owner.animal.each do |animal| %>
<p>Animals: <%=animal.name%></p>
  <%end%>



  <form method="post" action="/owners/<%= @owner.id %>/delete">
      <input class="button" type="submit" value="Delete Owner"/>
    </form>
