<br>
<br>
<div class="display">


<p>Animal Name: <%=@animal.name%></p>
<p>Type: <%=@animal.type%></p>
<p>Breed: <%=@animal.breed%></p>
<p>Resident Since: <%=@animal.admission_date%></p>



<% if @animal.ready_adoption() == "t" %> <span>Is the Animal Adoptable: Yes</span>
<% end %>
<% if @animal.ready_adoption() == "f" %> <span>Is the Animal Adoptable: No</span>
<% end %>






<% if @animal.ready_adoption == "t" %>
<br>
<br>
<p><a class="button" href="/animals/<%=@animal.id%>/adopt">Adopt Animal</a></p>
<%end%>
</div>
